dataset
rawdata
logfile.txt
preview
dataset.tar.gz
log.txt
*.h5
*.png
cola-log.txt
dataseth5.tar.gz
models
dataseth5 dataseth5-featMean dataseth5-featMean.tar.gz dataseth5-skel_fix dataseth5.tar.gz
dataseth5*
entrega_grupo1.zip
.red_orig.py.swp
*.log.txt
